@import url("./styles/_fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Raleway", sans-serif;

	background-image: url(./bgs/clouds.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
}

@media screen and (min-width: 640px) {
	body {
		background-image: url(./bgs/twilight.jpg);
	}
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
